<div>
  <table>
    <tr>
      <th>Item description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
    <tr>
      <%= for order_item<-@items do %>
        <td><%=order_item.product.name%></td>
        <td><%=order_item.price%></td>
        <td><%=order_item.quantity%></td>
        <td><%=total_price(order_item)%></td>
      <% end %>
    </tr>
  </table>
</div>
