<%= for error <- Kaffy.ResourceError.display_errors(@conn, @changeset) do %>
  <div><%= error %></div>
<% end %>
<div class="mt-3 grid-margin stretch-card">
  <div class="card shadow <%= Kaffy.ResourceError.form_error_border_class(@changeset, "border-left-success")%>">
    <div class="card-header">
      <%=render "tab.html", conn: @conn, context: @context, order_id: @changeset.data.id %>
    </div>
    <div class="card-body">
    </div>
  </div>
  <!-- Modal -->
</div>
