 <%= f = form_for(@changeset, Kaffy.Utils.router().kaffy_resource_path(@conn, :create, @context, "stock_movement"), multipart: true) %>
<div style="display:flex;">
  <%= number_input f, :quantity %>
  <%= hidden_input f, :stock_item_id, value: @stock_item_id %>
  <%= submit "Update" %>
</div>
</form>
