 <%= f = form_for(@changeset, Kaffy.Utils.router().kaffy_resource_path(@conn, :stock_update, @context, @resource, @changeset.data.id), method: :put, multipart: true) %>
<div style="display:flex;">
  <%= text_input f, :count_on_hand %>
  <%= submit "Update" %>
</div>
</form>
